@mixin flex ( $direction , $justify , $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin txt ( $size , $weight , $color ) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin responsive ($breakpoint) {
    @media screen and (max-width: map-get($breackpoints , $breakpoint)) {
        @content;
    }
}