$color_primero: #9B0090;
$color_segundo: #7d7d7d;
$color_tercero: #191919;
$color_cuarto: #ffffff;
$color_quinto: #cbcbcb65;

$breackpoints: (
    s : 450px,    /* especial */
    ms : 576px,   /* mobile small */
    ml : 767px,   /* mobile large */
    tl : 1024px,  /* tablet large */
    ds : 1300px,  /* desktop small */
);