.redesBuscador {
    width: 20%;
    @include flex ( column , center , center);

    @include responsive (tl) {
        display: none;
    }

    .redesHeader {
        a {
            text-decoration: none;
            font-size: 25px;
            color: $color_segundo;
            margin: 0 15px;

            &:hover {
                color: $color_primero;
                transition: .5s;
            }
        }
    }

    .buscadorHeader {
        width: 180px;

        form {
            border: 1px solid $color_segundo;
            border-radius: 20px;
            font-size: 16px;
            color: $color_segundo;
            padding-left: 10px;
        }
    }
}